[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fastapi = "0.65.2"
uvicorn = "0.11.7"
motor = "2.1.0"
requests = "2.24.0"
oauthlib = "3.1.0"

passlib = {extras = ["bcrypt"],version = "1.7.2"}
aiocache = "0.11.1"
msal = "1.4.1"
#sqlalchemy = "*"
#psycopg2-binary = "*"
pyjwt = "1.7.1"
sqlalchemy = "1.4.34"
psycopg2-binary = "*"

[requires]
python_version = "3.7"
